body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100%;
}

header{
background: url('assets/deco-white.jpg');
height: 300px;
background-position: 330px;
}

nav  {
  background-color: hsla(0, 0%, 0%, 0.822);
  font-weight: bold;
  padding: 20px 7.5%;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
nav a:hover {
  background-color: hsla(0, 0%, 87%, 0.822);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: .5s;
}
nav a.active {
  background-color: hsla(0, 0%, 29%, 0.74);
  color: white;
}
nav a {
  color: #ddd;
  text-decoration: none;
  padding: 15px;
}

.top {
  height: 80.5%;
  position: relative;
  bottom: 2.10rem;
  text-align: center;
  font-weight: bold;
  background-color: hsla(0, 0%, 0%, 0.712);
}
h1{
  position: relative;
  top: 4rem;
  font-size: 50px;
}

@media (max-width: 760px) {
  nav {
      height: 100px;
      padding: 9px;
      display: flex;
      flex-wrap: wrap;
      
  }
}
@media (max-width: 760px) {
  .top {
  height: 60.7%;
  }
}

@media (max-width: 760px) {
  header {
    background-position: 840px;
  }
}

footer {
  background: url('assets/footer-img.jpg');
  background-position: 1px;
  height: 30rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0px;
  color: #000000;
  line-height: 20px;
  font-size: 20px;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: hsla(0, 1%, 28%, 0.404)
}
.col {
  flex-basis: 25%;
  padding: 30px 100px;
}
@media (max-width: 760px) {
  footer {
    height: 22.9rem;
  }
}

form {
  line-height: 2rem;
}
.form {
  background: url('assets/dark-wood.jpg');
  height: 26.2rem;
  color: #ddd;
  border-left: 0.65rem solid rgb(0, 0, 0);
  box-shadow: rgba(122, 122, 122, 0.2) 0 2px 10px;
  
}
@media (max-width: 760px) {
  .form {
    border: none;
    width: 47%;
  }
}

.tx {
  background-color: rgba(0, 0, 0, 0.836);
  height: 100%;
  width: 100%;
  padding: 31px 0px 0px 50px;
}
@media (max-width: 760px) {
  .tx {
    height: 100%;
    width: 100%;
    padding: 31px;
    align-items: center;
  }
}

.btn {
  align-items: center;
  background-image: linear-gradient(144deg,#a7a5a8, #3b3a3f 50%,#1b1b1b);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(122, 122, 122, 0.2) 0 2px 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: .1em;
  max-width: 100%;
  min-width: 100px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.btn:active,
.btn:hover {
  outline: 0;
}

.btn span {
  background-color: rgb(25, 25, 26);
  padding: 16px 10px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.btn:hover span {
  background: none;
}




